{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>익명 글수정 화면입니다</b></div>
        <div class="card-body">
            <form action="#">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter author" id="author">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" id="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="content"></textarea>
                </div>
                <button type="button" onclick="btnUpdate()" class="btn btn-primary form-control">글수정완료</button>
            </form>
        </div>
    </div>
</div>
<script>
    function btnUpdate() {
        let board = { // js 오브젝트
            title: $("#title").val(), // value값 들고 옴
            content: $("#content").val(),
            author: $("#author").val(),
        };
        console.log(board);

        // 통신해서 보내기 위해 json으로 변경
        let boardJson = JSON.stringify(board);
        console.log(boardJson);

        $.ajax({
            url: "/api/boards/{{board.id}}",
            type: "post",
            data: JSON.stringify(board),
            contentType: "application/json; charset=utf-8"
        }).done((res) => {
            location.href = "/";
        }).fail((res) => {
            alert(res.responseJson.msg);
        });
    }
</script>

{{> layout/footer}}